*{
    padding: 0;
    margin: 0;
}

.header_title{
    height: 80px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}
.header_title .program_logo{
    display: inline-block;
    margin: 0 auto;
    width: 197px;
    height: 80px;
}
.header_title .program_delete{
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url("../img/header_delete.png");
    background-size: cover;
    top: 10px;
    right: 16px;
    cursor: pointer;
}

.nav_logo{
    padding: 0 15px !important;
}

.navbar{

    border: none !important;

}

.nav_hea{
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color: #f8f8f8 !important;

}

.navbar-default{

    min-height: 70px !important; 

}

.con_box{

    min-height: 70px;
    padding: 10px 0;

}

.navbar-nav>li>a{

    font-size: 16px;
    color: #333 !important;
    font-weight: 600 !important;

}

.navbar-brand>img{
    width: 90px;
    height: 40px;
    margin: 5px 0;
}
.head_portrait{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: wheat;
    margin: 5px 0;
    background-image: url(../img/tx.jpg);
    background-size: contain;
    cursor: pointer;
}

.navbar-right{

    margin-right: 0 !important;

}

.comm-con{

    /* height: 600px; */
    /* background: silver; */
    margin-top: 40px;

}

h3{

    font-size: 15px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

p{

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.thumbnail{

    text-align: center;
    /* border: none !important; */

}



.thumbnail>img{

    width: 100%;
    display: block;

}

.thumbnail:hover{

    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    transition: .3s;

}

.caption{

    border-top: 1px solid #ccc;

}

.navigation {

    display: flex !important;
    justify-content: center !important;

}

.item{

    cursor: pointer;

}

footer{
    height: 350px;
    padding-top: 60px;
    background-color: white;
    position: relative;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .icon li{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul li .help{
    width: 46px;
    height: 46px;
    margin: 6px 16px 6px 14px;
    background-image: url('../../images/footer.png');
    background-position: 0px 0px;
}
footer ul li .query{
    width: 46px;
    height: 46px;
    margin: 6px 16px 6px 14px;
    background-image: url('../../images/footer.png');
    background-position: -47px 0px;
}
footer ul li .sale{
    width: 46px;
    height: 46px;
    margin: 6px 16px 6px 14px;
    background-image: url('../../images/footer.png');
    background-position: -94px 0px;
}
footer ul li .buy{
    width: 46px;
    height: 46px;
    margin: 6px 16px 6px 14px;
    background-image: url('../../images/footer.png');
    background-position: -141px 0px;
}
footer ul li .agency{
    width: 46px;
    height: 46px;
    margin: 6px 16px 6px 14px;
    background-image: url('../../images/footer.png');
    /* background-position: -141px 0px; */
}
footer ul li div:nth-of-type(2){
    border-left: 1px solid #2a2a26;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
footer ul li h5{
    margin: 0;
    width: 95px;
    height: 26px;
    margin-left: 20px;
    font-size: 20px;
}
footer ul li p{
    margin: 0;
    margin-left: 20px;
    font-size: 12px;
}
footer .line{
    width: 45%;
    height: 1px;
    background-color: #e4e4e4;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
footer .warning{
    text-align: center;
    font-size: 12px;
    color: rgb(150,148,146);
}
footer .warning>div{
    margin-top: 10px;
}
footer .introduce ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .introduce ul li{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgb(77,77,77);
    color: #969492;
    font-size: 12px;
}
footer .introduce ul .one{
    border: none;
    margin: 0;
    padding: 0;
}

footer .police{
    position: absolute;
    right: 20%;
    bottom: 10px;
}