*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.warp{
    height: 100px;
    line-height: 100px;
    background: rgba(250,250,252);
}
.warp .contarinar{
    display: flex;
    justify-content: space-around;
}
.warp .contarinar .right{
    height: 50px;
    width: 80px;
}
.contarinar{
    width: 1200px;
    margin: auto;
}
.cent{
    margin-left: 20px;
    margin-right: 20px;
}
.cent ul{
    width: 900px;
    display: flex;
    justify-content: space-around;
}
.cent ul li{
    font-size: 16px;
    font-weight: bold;
}
.login img{
    width: 200px;
}
.btn{
    background: rgb(255,23,134);
    border: none;
}
footer{
    margin-top: 120px;
}
.footer .contarinar{
    display: flex;
}
.footer .left{
    margin-left: 20px;
}
.footer .left img{
    width: 150px;
}
.footer .right{
    width: 980px;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
}
.footer .right ul div{
    text-align: left;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
}
.footer .right ul li{
    height: 50px;
    text-align: left;
}
.footer .right ul li span{
    display: inline-block;
    width: 100px;
}
.footer>p{
    font-size: 16px;
    width: 1200px;
    margin: auto;
    text-align: left;
}